<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h2>Create New User</h2>
<form th:action="@{/admin}" th:object="${user}" method="post">
    <label>Username: <input type="text" th:field="*{username}"/></label><br/>
    <label>Password: <input type="password" th:field="*{password}"/></label><br/>
    <label>Name: <input type="text" th:field="*{name}"/></label><br/>
    <label>Surname: <input type="text" th:field="*{surname}"/></label><br/>
    <label>Email: <input type="email" th:field="*{email}"/></label><br/>
    <label>Age: <input type="number" th:field="*{age}"/></label><br/>

    <h4>Roles</h4>
    <div th:each="role : ${rolesList}">
        <label>
            <input type="checkbox" name="rolesSelected"
                   th:value="${role.name}"/> <span th:text="${role.name}"></span>
        </label><br/>
    </div>

    <button type="submit">Create</button>
</form>
<a th:href="@{/admin}">Back</a>
</body>
</html>