<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>

<body>
<form th:action="@{/logout}" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
    <button type="submit">Logout</button>
</form>

<h2>Create new user</h2>

<form th:action="@{/admin}" th:object="${user}" method="post">

    <!-- USERNAME -->
    <label>Username</label>
    <input type="text" th:field="*{username}" required>
    <div style="color:red"
         th:if="${#fields.hasErrors('username')}"
         th:errors="*{username}">
    </div>

    <br/><br/>

    <!-- PASSWORD -->
    <label>Password</label>
    <input type="password" th:field="*{password}" required>
    <div style="color:red"
         th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}">
    </div>

    <br/><br/>

    <!-- EMAIL -->
    <label>Email</label>
    <input type="email" th:field="*{email}" required>
    <div style="color:red"
         th:if="${#fields.hasErrors('email')}"
         th:errors="*{email}">
    </div>

    <br/><br/>

    <!-- NAME -->
    <label>Name</label>
    <input type="text" th:field="*{name}"
           pattern="[A-Za-zА-Яа-яЁё]+"
           required />
    <div style="color:red"
         th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}">
    </div>

    <br/><br/>

    <!-- SURNAME -->
    <label>Surname</label>
    <input type="text"
           th:field="*{surname}"
           pattern="[A-Za-zА-Яа-яЁё]+"
           required>
    <div style="color:red"
         th:if="${#fields.hasErrors('surname')}"
         th:errors="*{surname}">
    </div>

    <br/><br/>

    <!-- AGE -->
    <label>Age</label>
    <input type="number"
           th:field="*{age}"
           min="1"
           max="120"
           required>
    <div style="color:red"
         th:if="${#fields.hasErrors('age')}"
         th:errors="*{age}">
    </div>

    <br/><br/>

    <!-- КНОПКА СОЗДАНИЯ -->
    <input type="submit" value="Create User">

</form>

<br/>

<a th:href="@{/admin}">Back to users list</a>

</body>
</html>